<a href="https://colab.research.google.com/github/khalid-shaik/bank/blob/main/Bank_Customer_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import  required libraries**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!apt-get install sqlite3
!pip install pandas

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 35 not upgraded.
Need to get 769 kB of archives.
After this operation, 1,873 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.4 [769 kB]
Fetched 769 kB in 1s (753 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 126111 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.4_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.4) ...
Setting up sqlite3 (3.37.2-2ubuntu0.4) ...
Processing triggers for man-db (2.10.2-1) ...
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import sqlite3
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
conn = sqlite3.connect("my_database.db")

In [ ]:
# Define the correct path for the database
db_path = "/content/drive/MyDrive/my_database.db"

In [ ]:
db_folder = "/content/drive/MyDrive/SQLiteDB"
os.makedirs(db_folder, exist_ok=True)  # Ensure the folder exists
db_path = os.path.join(db_folder, "my_database.db")

In [ ]:
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

print("Database connected at:", db_path)

Database connected at: /content/drive/MyDrive/SQLiteDB/my_database.db

#**Customer**  Table

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMERRR ( customer_id INT ,
             	customer_name VARCHAR(20),
             	Address 	VARCHAR(20),
             	state_code  VARCHAR(3) ,
             	Telephone   VARCHAR(10)	);

''')
conn.commit()

In [ ]:
def insert_BANK_CUSTOMERR (customer_id,customer_name,Address,state_code,Telephone):
    cursor.execute("INSERT INTO BANK_CUSTOMER (customer_id,customer_name,Address,state_code,Telephone) VALUES (?,?, ?, ?,?)", (customer_id,customer_name,Address,state_code,Telephone))
    conn.commit()

# Insertion
insert_BANK_CUSTOMERR(123001,"Oliver", "225-5,Emeryville", "CA" , "1897614500")
insert_BANK_CUSTOMERR(123002,"George", "194-6,New brighton","MN" , "1897617000")
#insert_BANK_CUSTOMER(123003,"Harry", "2909-5,walnut creek","CA" , "1897617866")
#$insert_BANK_CUSTOMER(123004,"Jack", "229-5, Concord",  	"CA" , "1897627999")
#insert_BANK_CUSTOMER(123005,"Jacob", "325-7, Mission Dist","SFO", "1897637000")
#nsert_BANK_CUSTOMER(123006,"Noah", "275-9, saint-paul" ,  "MN" , "1897613200")
#insert_BANK_CUSTOMER(123007,"Charlie","125-1,Richfield",   "MN" , "1897617666")
insert_BANK_CUSTOMERR(123008,"Robin","3005-1,Heathrow", 	"NY" , "1897614000")

In [ ]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.11/dist-packages (0.9.0)

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM BANK_CUSTOMER ")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+-----------------+---------------------+--------------+-------------+
|   customer_id | customer_name   | Address             | state_code   |   Telephone |
+===============+=================+=====================+==============+=============+
|        123001 | Oliver          | 225-5,Emeryville    | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |  1897617000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | Jack            | 229-5, Concord      | CA           |  1897627999 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123005 | Jacob           | 325-7, Mission Dist | SFO          |  1897637000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | Noah            | 275-9, saint-paul   | MN           |  1897613200 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123007 | Charlie         | 125-1,Richfield     | MN           |  1897617666 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123008 | Robin           | 3005-1,Heathrow     | NY           |  1897614000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123001 | Oliver          | 225-5,Emeryville    | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |  1897617000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123008 | Robin           | 3005-1,Heathrow     | NY           |  1897614000 |
+---------------+-----------------+---------------------+--------------+-------------+

**Bank_customer_export** Table

In [ ]:
#Create a bank_customer_export
cursor.execute('''
CREATE TABLE BANK_CUSTOMER_exports ( customer_id CHAR(10) ,
             	customer_name CHAR(20),
             	Address CHAR(20),
             	state_code  CHAR(3) ,
             	Telephone  CHAR(10)	);

''')
conn.commit()

In [ ]:
def insert_BANK_CUSTOMER_exports (customer_id,customer_name,Address,state_code,Telephone):
    cursor.execute("INSERT INTO BANK_CUSTOMER_exports (customer_id,customer_name,Address,state_code,Telephone) VALUES (?,?, ?, ?,?)", (customer_id,customer_name,Address,state_code,Telephone))
    conn.commit()

#  insert
insert_BANK_CUSTOMER_exports(123001,"Oliver", "225-5,Emeryville", "CA" , "1897614500")
insert_BANK_CUSTOMER_exports(123002,"George", "194-6,New brighton","MN" , "1897617000")

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM BANK_CUSTOMER_exports")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+-----------------+--------------------+--------------+-------------+
|   customer_id | customer_name   | Address            | state_code   |   Telephone |
+===============+=================+====================+==============+=============+
|        123001 | Oliver          | 225-5,Emeryville   | CA           |  1897614500 |
+---------------+-----------------+--------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton | MN           |  1897617000 |
+---------------+-----------------+--------------------+--------------+-------------+

**BANK_Account_Details** Table

In [ ]:

cursor.execute('''
CREATE TABLE BANK_Account_Details ( customer_id INT ,
             	Account_Number  VARCHAR(19),
             	Account_type 	VARCHAR(25),
                Balance_amount INT,
             	Account_status  VARCHAR(10) ,
             	Relationship_type VARCHAR(11)	);

''')
conn.commit()

In [ ]:
def insert_BANK_Account_Details(customer_id, Account_number, Account_type, Balance_amount, Account_status, Relationship_type):
    cursor.execute("""
        INSERT INTO BANK_Account_Details
        (customer_id, Account_number, Account_type, Balance_amount, Account_status, Relationship_type)
        VALUES (?, ?, ?, ?, ?, ?)
    """, (customer_id, Account_number, Account_type, Balance_amount, Account_status, Relationship_type))

    conn.commit()
insert_BANK_Account_Details(123001, "4000-1956-3456", "SAVINGS", 200000, "ACTIVE", "P")
insert_BANK_Account_Details(123001, "5000-1700-3456", "RECURRING DEPOSITS", 9400000, "ACTIVE", "S")
insert_BANK_Account_Details(123002, "4000-1956-2001", "SAVINGS", 400000, "ACTIVE", "P")
insert_BANK_Account_Details(123002, "5000-1700-5001", "RECURRING DEPOSITS", 7500000, "ACTIVE", "S")
insert_BANK_Account_Details(123003, "4000-1956-2900", "SAVINGS", 750000, "INACTIVE", "P")
insert_BANK_Account_Details(123004, "5000-1700-6091", "RECURRING DEPOSITS", 7500000, "ACTIVE", "S")
insert_BANK_Account_Details(123004, "4000-1956-3401", "SAVINGS", 655000, "ACTIVE", "P")
insert_BANK_Account_Details(123005, "4000-1956-5102", "SAVINGS", 300000, "ACTIVE", "P")
insert_BANK_Account_Details(123006, "4000-1956-5698", "SAVINGS", 455000, "ACTIVE", "P")
insert_BANK_Account_Details(123007, "5000-1700-9800", "SAVINGS", 355000, "ACTIVE", "P")
insert_BANK_Account_Details(123007, "4000-1956-9977", "RECURRING DEPOSITS", 7025000, "ACTIVE", "S")
insert_BANK_Account_Details(123007, "9000-1700-7777-4321", "Credit Card", 0, "INACTIVE", "P")
insert_BANK_Account_Details(123007, "5900-1900-9877-5543", "Add-on Credit Card", 0, "ACTIVE", "S")
insert_BANK_Account_Details(123008, "5000-1700-7755", "SAVINGS", 0, "INACTIVE", "P")
insert_BANK_Account_Details(123006, "5800-1700-9800-7755", "Credit Card", 0, "ACTIVE", "P")
insert_BANK_Account_Details(123006, "5890-1970-7706-8912", "Add-on Credit Card", 0, "ACTIVE", "S")

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM BANK_Account_Details")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|   customer_id | Account_Number      | Account_type       |   Balance_amount | Account_status   | Relationship_type   |
+===============+=====================+====================+==================+==================+=====================+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        |                0 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+

**BANK_Account** Table

In [ ]:
#Create a table
cursor.execute('''
CREATE TABLE BANK_Account ( customer_id INT ,
             	Account_Number  VARCHAR(19),
             	Account_type 	VARCHAR(25),
                Balance_amount INT,
             	Account_status  VARCHAR(10) ,
             	Relationship_type VARCHAR(1)	);

''')
conn.commit()

In [ ]:
def insert_BANK_Account(customer_id, Account_number, Account_type, Balance_amount, Account_status, Relationship_type):
    cursor.execute("""
        INSERT INTO BANK_Account
        (customer_id, Account_number, Account_type, Balance_amount, Account_status, Relationship_type)
        VALUES (?, ?, ?, ?, ?, ?)
    """, (customer_id, Account_number, Account_type, Balance_amount, Account_status, Relationship_type))

    conn.commit()

insert_BANK_Account(123001, "4000-1956-3456", "SAVINGS", 200000, "ACTIVE", "P")
insert_BANK_Account(123001, "5000-1700-3456", "RECURRING DEPOSITS", 9400000, "ACTIVE", "S")
insert_BANK_Account(123002, "4000-1956-2001", "SAVINGS", 400000, "ACTIVE", "P")
insert_BANK_Account(123002, "5000-1700-5001", "RECURRING DEPOSITS", 7500000, "ACTIVE", "S")
insert_BANK_Account(123003, "4000-1956-2900", "SAVINGS", 750000, "INACTIVE", "P")
insert_BANK_Account(123004, "5000-1700-6091", "RECURRING DEPOSITS", 7500000, "ACTIVE", "S")
insert_BANK_Account(123004, "4000-1956-3401", "SAVINGS", 655000, "ACTIVE", "P")
insert_BANK_Account(123005, "4000-1956-5102", "SAVINGS", 300000, "ACTIVE", "P")
insert_BANK_Account(123006, "4000-1956-5698", "SAVINGS", 455000, "ACTIVE", "P")
insert_BANK_Account(123007, "5000-1700-9800", "SAVINGS", 355000, "ACTIVE", "P")
insert_BANK_Account(123007, "4000-1956-9977", "RECURRING DEPOSITS", 7025000, "ACTIVE", "S")
insert_BANK_Account(123007, "9000-1700-7777-4321", "CREDITCARD", 0, "INACTIVE", "P")
insert_BANK_Account(123008, "5000-1700-7755", "SAVINGS", None, "INACTIVE", "P")

In [ ]:
# Fetch data
cursor.execute("SELECT * FROM BANK_Account")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|   customer_id | Account_Number      | Account_type       |   Balance_amount | Account_status   | Relationship_type   |
+===============+=====================+====================+==================+==================+=====================+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 9000-1700-7777-4321 | CREDITCARD         |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                  | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+

**BANK_Account_Relationship_Details** Table

In [ ]:
#Create a table
cursor.execute('''
CREATE TABLE BANK_Account_Relationship_Details ( customer_id INT ,
             	Account_Number  VARCHAR(19),
             	Account_type 	VARCHAR(25),
                linking_Account_Number VARCHAR(19)	);

''')
conn.commit()

In [ ]:
def insert_BANK_Account_Relationship_Details(customer_id, Account_number, Account_type, Linking_Account_Number):
    cursor.execute("""
        INSERT INTO BANK_Account_Relationship_Details
        (customer_id, Account_number, Account_type, Linking_Account_Number)
        VALUES (?, ?, ?, ?)
    """, (customer_id, Account_number, Account_type, Linking_Account_Number))

    conn.commit()


insert_BANK_Account_Relationship_Details(123001, "4000-1956-3456", "SAVINGS", None)
insert_BANK_Account_Relationship_Details(123001, "5000-1700-3456", "RECURRING DEPOSITS", "4000-1956-3456")
insert_BANK_Account_Relationship_Details(123002, "4000-1956-2001", "SAVINGS", None)
insert_BANK_Account_Relationship_Details(123002, "5000-1700-5001", "RECURRING DEPOSITS", "4000-1956-2001")
insert_BANK_Account_Relationship_Details(123003, "4000-1956-2900", "SAVINGS", None)
insert_BANK_Account_Relationship_Details(123004, "5000-1700-6091", "RECURRING DEPOSITS", "4000-1956-2900")
insert_BANK_Account_Relationship_Details(123004, "5000-1700-7791", "RECURRING DEPOSITS", "4000-1956-2900")
insert_BANK_Account_Relationship_Details(123007, "5000-1700-9800", "SAVINGS", None)
insert_BANK_Account_Relationship_Details(123007, "4000-1956-9977", "RECURRING DEPOSITS", "5000-1700-9800")
insert_BANK_Account_Relationship_Details(None, "9000-1700-7777-4321", "Credit Card", "5000-1700-9800")
insert_BANK_Account_Relationship_Details(None, "5900-1900-9877-5543", "Add-on Credit Card", "9000-1700-7777-4321")
insert_BANK_Account_Relationship_Details(None, "5800-1700-9800-7755", "Credit Card", "4000-1956-5698")
insert_BANK_Account_Relationship_Details(None, "5890-1970-7706-8912", "Add-on Credit Card", "5800-1700-9800-7755")

In [ ]:
# Fetch data
cursor.execute("SELECT * FROM BANK_Account_Relationship_Details")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+---------------------+--------------------+--------------------------+
|   customer_id | Account_Number      | Account_type       | linking_Account_Number   |
+===============+=====================+====================+==========================+
|        123001 | 4000-1956-3456      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------+---------------------+--------------------+--------------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-7791      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|               | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|               | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------+---------------------+--------------------+--------------------------+
|               | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------+---------------------+--------------------+--------------------------+
|               | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------+---------------------+--------------------+--------------------------+

**BANK_Account_transaction** Table

In [ ]:

cursor.execute('''
CREATE TABLE BANK_Account_transaction (
             	Account_Number  VARCHAR(19),
             	Transaction_amount Decimal(18,2),
                Transaction_channel VARCHAR(18),
                Province varchar(3),
                Transaction_Date Date);
''')
conn.commit()

In [ ]:
def insert_BANK_Account_transaction(Account_Number, Transaction_amount, Transaction_channel, Province, Transaction_Date):
    cursor.execute("""
        INSERT INTO BANK_Account_transaction
        (Account_Number, Transaction_amount, Transaction_channel, Province, Transaction_Date)
        VALUES (?, ?, ?, ?, ?)
    """, (Account_Number, Transaction_amount, Transaction_channel, Province, Transaction_Date))

    conn.commit()

insert_BANK_Account_transaction("4000-1956-3456",  -2000, "ATM withdrawal", "CA", "2020-01-13")
insert_BANK_Account_transaction("4000-1956-2001",  -4000, "POS-Walmart", "MN", "2020-02-14")
insert_BANK_Account_transaction("4000-1956-2001",  -1600, "UPI transfer", "MN", "2020-01-19")
insert_BANK_Account_transaction("4000-1956-2001",  -6000, "Bankers cheque", "CA", "2020-03-23")
insert_BANK_Account_transaction("4000-1956-2001",  -3000, "Net banking", "CA", "2020-04-24")
insert_BANK_Account_transaction("4000-1956-2001",  23000, "Cheque deposit", "MN", "2020-03-15")
insert_BANK_Account_transaction("5000-1700-6091",  40000, "ECS transfer", "NY", "2020-02-19")
insert_BANK_Account_transaction("5000-1700-7791",  40000, "ECS transfer", "NY", "2020-02-19")
insert_BANK_Account_transaction("4000-1956-3401",   8000, "Cash Deposit", "NY", "2020-01-19")
insert_BANK_Account_transaction("4000-1956-5102",  -6500, "ATM withdrawal", "NY", "2020-03-14")
insert_BANK_Account_transaction("4000-1956-5698",  -9000, "Cash Deposit", "NY", "2020-03-27")
insert_BANK_Account_transaction("4000-1956-9977",  50000, "ECS transfer", "NY", "2020-01-16")
insert_BANK_Account_transaction("9000-1700-7777-4321",  -5000, "POS-Walmart", "NY", "2020-02-17")
insert_BANK_Account_transaction("9000-1700-7777-4321",  -8000, "Shopping Cart", "MN", "2020-03-13")
insert_BANK_Account_transaction("9000-1700-7777-4321",  -2500, "Shopping Cart", "MN", "2020-04-21")
insert_BANK_Account_transaction("5800-1700-9800-7755", -9000, "POS-Walmart", "MN", "2020-04-13")
insert_BANK_Account_transaction("5890-1970-7706-8912", -11000, "Shopping Cart", "NY", "2020-03-12")

In [ ]:
# Fetch data
cursor.execute("SELECT * FROM BANK_Account_transaction")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------------+----------------------+-----------------------+------------+--------------------+
| Account_Number      |   Transaction_amount | Transaction_channel   | Province   | Transaction_Date   |
+=====================+======================+=======================+============+====================+
| 4000-1956-3456      |                -2000 | ATM withdrawal        | CA         | 2020-01-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | POS-Walmart           | MN         | 2020-02-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | 2020-03-23         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | 2020-04-24         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | Cheque deposit        | MN         | 2020-03-15         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | 2020-03-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | 2020-03-27         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | 2020-01-16         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | 2020-02-17         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | 2020-03-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | 2020-04-21         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | 2020-04-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | 2020-03-12         |
+---------------------+----------------------+-----------------------+------------+--------------------+

**BANK_CUSTOMER_MESSAGES** Table

In [ ]:

cursor.execute("""
CREATE TABLE BANK_CUSTOMER_MESSAGES (
              	Event VARCHAR(24),
              	Customer_message VARCHAR(75),
              	Notice_delivery_mode VARCHAR(15)) ;
""")
conn.commit()

In [ ]:
def insert_BANK_CUSTOMER_MESSAGES(Event,Customer_message, Notice_delivery_mode):
    cursor.execute("""
        INSERT INTO BANK_CUSTOMER_MESSAGES
        (Event,Customer_message, Notice_delivery_mode)
        VALUES (?, ?, ?)
    """, (Event,Customer_message, Notice_delivery_mode))

    conn.commit()
insert_BANK_CUSTOMER_MESSAGES("Adhoc", "All Banks are closed due to announcement of National strike", "mobile")
insert_BANK_CUSTOMER_MESSAGES("Transaction Limit", "Only limited withdrawals per card are allowed from ATM machines", "mobile")

In [ ]:
# Fetch data
cursor.execute("SELECT * FROM BANK_CUSTOMER_MESSAGES")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+-------------------+-----------------------------------------------------------------+------------------------+
| Event             | Customer_message                                                | Notice_delivery_mode   |
+===================+=================================================================+========================+
| Adhoc             | All Banks are closed due to announcement of National strike     | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+
| Transaction Limit | Only limited withdrawals per card are allowed from ATM machines | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+

**CREATE TABLE BANK_INTEREST_RATE** Table

In [ ]:

cursor.execute('''CREATE TABLE BANK_INTEREST_RATE(
            	account_type varchar(24),
              	interest_rate decimal(4,2),
            	month varchar(2),
            	year  varchar(4)
             	);
''')
conn.commit()

In [ ]:
def insert_BANK_INTEREST_RATE(account_type, interest_rate, month, year):
    cursor.execute("""
        INSERT INTO BANK_INTEREST_RATE (account_type, interest_rate, month, year)
        VALUES (?, ?, ?, ?)
    """, (account_type, interest_rate, month, year))

    conn.commit()
insert_BANK_INTEREST_RATE("SAVINGS", 0.04, '02', '2020')
insert_BANK_INTEREST_RATE("RECURRING DEPOSITS", 0.07, '02', '2020')
insert_BANK_INTEREST_RATE("PRIVILEGED_INTEREST_RATE", 0.08, '02', '2020')

In [ ]:
# Fetch data
cursor.execute("SELECT * FROM BANK_INTEREST_RATE")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+--------------------------+-----------------+---------+--------+
| account_type             |   interest_rate |   month |   year |
+==========================+=================+=========+========+
| SAVINGS                  |            0.04 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| RECURRING DEPOSITS       |            0.07 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| PRIVILEGED_INTEREST_RATE |            0.08 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+

# Question 1:
# 1) Print customer Id, customer name and average account_balance maintained by each customer for all  of his/her accounts in the bank.(8 Rows)

In [ ]:
# SQL query to get customer_id, customer_name, and average balance amount
query = """
SELECT
    c.customer_id,
    c.customer_name,
    AVG(a.balance_amount) AS avg_balance
FROM BANK_CUSTOMER c
LEFT JOIN BANK_Account_Details a ON c.customer_id = a.customer_id
GROUP BY c.customer_id, c.customer_name
LIMIT 8;  -- Show only 8 rows
"""

# Execute the query
cursor.execute(query)

# Fetch column names
columns = [desc[0] for desc in cursor.description]

# Fetch all results
results = cursor.fetchall()

# Print table headers
print("{:<12} {:<20} {:<15}".format(*columns))
print("-" * 50)

# Print each row in a properly formatted way
for row in results:
    print("{:<12} {:<20} {:<15.2f}".format(*row))  # Format avg_balance to 2 decimal places

customer_id  customer_name        avg_balance
--------------------------------------------------
123001       Oliver               4800000.00
123002       George               3950000.00
123003       Harry                750000.00
123004       Jack                 4077500.00
123005       Jacob                300000.00
123006       Noah                 151666.67
123007       Charlie              1845000.00
123008       Robin                0.00

# Question 2:
# 2) Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows)

In [ ]:
#2) Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows).
query = """
SELECT
    a.customer_id,
    a.account_number,
    COALESCE(a.balance_amount, t.transaction_amount) AS balance_amount
FROM BANK_Account_Details a
LEFT JOIN BANK_Account_transaction t ON a.account_number = t.account_number
WHERE a.account_type = 'Credit Card'
LIMIT 4;  -- Show only 4 rows
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------+---------------------+------------------+
|    |   customer_id | Account_Number      |   balance_amount |
|----+---------------+---------------------+------------------|
|  0 |        123007 | 9000-1700-7777-4321 |                0 |
|  1 |        123007 | 9000-1700-7777-4321 |                0 |
|  2 |        123007 | 9000-1700-7777-4321 |                0 |
|  3 |        123006 | 5800-1700-9800-7755 |                0 |
+----+---------------+---------------------+------------------+

# Question 3:
# 3) Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)

In [ ]:
#3) Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows).
query = """
SELECT
    a.account_number,
    a.balance_amount,
    t.transaction_amount,
    t.transaction_date
FROM BANK_Account_Details a
JOIN BANK_Account_transaction t ON a.account_number = t.account_number
WHERE t.transaction_date BETWEEN '2020-03-01' AND '2020-04-30';
"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------------+------------------+----------------------+--------------------+
|    | Account_Number      |   Balance_amount |   Transaction_amount | Transaction_Date   |
|----+---------------------+------------------+----------------------+--------------------|
|  0 | 4000-1956-2001      |           400000 |                -6000 | 2020-03-23         |
|  1 | 4000-1956-2001      |           400000 |                -3000 | 2020-04-24         |
|  2 | 4000-1956-2001      |           400000 |                23000 | 2020-03-15         |
|  3 | 4000-1956-5102      |           300000 |                -6500 | 2020-03-14         |
|  4 | 4000-1956-5698      |           455000 |                -9000 | 2020-03-27         |
|  5 | 9000-1700-7777-4321 |                0 |                -8000 | 2020-03-13         |
|  6 | 9000-1700-7777-4321 |                0 |                -2500 | 2020-04-21         |
|  7 | 5800-1700-9800-7755 |                0 |                -9000 | 2020-04-13         |
|  8 | 5890-1970-7706-8912 |                0 |               -11000 | 2020-03-12         |
+----+---------------------+------------------+----------------------+--------------------+

# Question 4:
# 4) Print all of the customer id, account number,  balance_amount, transaction_amount , Transaction_Date  from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020  month (22 Rows)

In [ ]:
query = """
SELECT
    c.customer_id,
    a.account_number,
    a.balance_amount,
    t.transaction_amount,
    t.transaction_date
FROM BANK_CUSTOMER c
JOIN BANK_Account_Details a ON c.customer_id = a.customer_id
JOIN BANK_Account_transaction t ON a.account_number = t.account_number
WHERE t.transaction_date NOT BETWEEN '2020-03-01' AND '2020-03-31';
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------+---------------------+------------------+----------------------+--------------------+
|    |   customer_id | Account_Number      |   Balance_amount |   Transaction_amount | Transaction_Date   |
|----+---------------+---------------------+------------------+----------------------+--------------------|
|  0 |        123001 | 4000-1956-3456      |           200000 |                -2000 | 2020-01-13         |
|  1 |        123002 | 4000-1956-2001      |           400000 |                -4000 | 2020-02-14         |
|  2 |        123002 | 4000-1956-2001      |           400000 |                -1600 | 2020-01-19         |
|  3 |        123002 | 4000-1956-2001      |           400000 |                -3000 | 2020-04-24         |
|  4 |        123004 | 5000-1700-6091      |          7500000 |                40000 | 2020-02-19         |
|  5 |        123004 | 4000-1956-3401      |           655000 |                 8000 | 2020-01-19         |
|  6 |        123007 | 4000-1956-9977      |          7025000 |                50000 | 2020-01-16         |
|  7 |        123007 | 9000-1700-7777-4321 |                0 |                -5000 | 2020-02-17         |
|  8 |        123007 | 9000-1700-7777-4321 |                0 |                -2500 | 2020-04-21         |
|  9 |        123006 | 5800-1700-9800-7755 |                0 |                -9000 | 2020-04-13         |
+----+---------------+---------------------+------------------+----------------------+--------------------+

# Question 5:
# 5) Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)

In [ ]:
query = """
SELECT
    c.customer_id,
    a.account_number,
    a.balance_amount,
    t.transaction_amount,
    t.Transaction_date
FROM BANK_CUSTOMER c
JOIN BANK_Account_Details a ON c.customer_id = a.customer_id
JOIN BANK_Account_Transaction t ON a.account_number = t.account_number
WHERE t.Transaction_date BETWEEN '2020-01-01' AND '2020-03-31';
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------+---------------------+------------------+----------------------+--------------------+
|    |   customer_id | Account_Number      |   Balance_amount |   Transaction_amount | Transaction_Date   |
|----+---------------+---------------------+------------------+----------------------+--------------------|
|  0 |        123001 | 4000-1956-3456      |           200000 |                -2000 | 2020-01-13         |
|  1 |        123002 | 4000-1956-2001      |           400000 |                -4000 | 2020-02-14         |
|  2 |        123002 | 4000-1956-2001      |           400000 |                -1600 | 2020-01-19         |
|  3 |        123002 | 4000-1956-2001      |           400000 |                -6000 | 2020-03-23         |
|  4 |        123002 | 4000-1956-2001      |           400000 |                23000 | 2020-03-15         |
|  5 |        123004 | 5000-1700-6091      |          7500000 |                40000 | 2020-02-19         |
|  6 |        123004 | 4000-1956-3401      |           655000 |                 8000 | 2020-01-19         |
|  7 |        123005 | 4000-1956-5102      |           300000 |                -6500 | 2020-03-14         |
|  8 |        123006 | 4000-1956-5698      |           455000 |                -9000 | 2020-03-27         |
|  9 |        123007 | 4000-1956-9977      |          7025000 |                50000 | 2020-01-16         |
| 10 |        123007 | 9000-1700-7777-4321 |                0 |                -5000 | 2020-02-17         |
| 11 |        123007 | 9000-1700-7777-4321 |                0 |                -8000 | 2020-03-13         |
| 12 |        123006 | 5890-1970-7706-8912 |                0 |               -11000 | 2020-03-12         |
+----+---------------+---------------------+------------------+----------------------+--------------------+

# Question 6:
# 6) Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an “Adhoc" Event for all customers who have  “SAVINGS" account_type account.(8 Rows)

In [ ]:
#6) Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an “Adhoc" Event for all customers who have “SAVINGS" account_type account(8 Rows).
query = """
SELECT
    a.account_number,
    m.Event,
    m.Customer_message
FROM BANK_Account_Details a
JOIN BANK_CUSTOMER_MESSAGES m ON a.account_type = 'SAVINGS';
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+------------------+-------------------+-----------------------------------------------------------------+
|    | Account_Number   | Event             | Customer_message                                                |
|----+------------------+-------------------+-----------------------------------------------------------------|
|  0 | 4000-1956-2001   | Adhoc             | All Banks are closed due to announcement of National strike     |
|  1 | 4000-1956-2900   | Adhoc             | All Banks are closed due to announcement of National strike     |
|  2 | 4000-1956-3401   | Adhoc             | All Banks are closed due to announcement of National strike     |
|  3 | 4000-1956-3456   | Adhoc             | All Banks are closed due to announcement of National strike     |
|  4 | 4000-1956-5102   | Adhoc             | All Banks are closed due to announcement of National strike     |
|  5 | 4000-1956-5698   | Adhoc             | All Banks are closed due to announcement of National strike     |
|  6 | 5000-1700-7755   | Adhoc             | All Banks are closed due to announcement of National strike     |
|  7 | 5000-1700-9800   | Adhoc             | All Banks are closed due to announcement of National strike     |
|  8 | 4000-1956-2001   | Transaction Limit | Only limited withdrawals per card are allowed from ATM machines |
|  9 | 4000-1956-2900   | Transaction Limit | Only limited withdrawals per card are allowed from ATM machines |
| 10 | 4000-1956-3401   | Transaction Limit | Only limited withdrawals per card are allowed from ATM machines |
| 11 | 4000-1956-3456   | Transaction Limit | Only limited withdrawals per card are allowed from ATM machines |
| 12 | 4000-1956-5102   | Transaction Limit | Only limited withdrawals per card are allowed from ATM machines |
| 13 | 4000-1956-5698   | Transaction Limit | Only limited withdrawals per card are allowed from ATM machines |
| 14 | 5000-1700-7755   | Transaction Limit | Only limited withdrawals per card are allowed from ATM machines |
| 15 | 5000-1700-9800   | Transaction Limit | Only limited withdrawals per card are allowed from ATM machines |
+----+------------------+-------------------+-----------------------------------------------------------------+

# Question 7:
# 7) Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by  subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means  Primary , S - means Secondary ) .(27 Rows)

In [ ]:
#7) Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by  subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means  Primary , S - means Secondary ) (27 Rows).
query = """
SELECT
    a.customer_id,
    a.account_number,
    a.account_type,
    SUM(CASE WHEN t.transaction_amount < 0 THEN t.transaction_amount ELSE 0 END) AS deducted_balance
FROM BANK_Account_Details a
JOIN BANK_Account_Transaction t ON a.account_number = t.account_number
WHERE a.relationship_type = 'P'
GROUP BY a.customer_id, a.account_number, a.account_type;
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------+---------------------+----------------+--------------------+
|    |   customer_id | Account_Number      | Account_type   |   deducted_balance |
|----+---------------+---------------------+----------------+--------------------|
|  0 |        123001 | 4000-1956-3456      | SAVINGS        |              -2000 |
|  1 |        123002 | 4000-1956-2001      | SAVINGS        |             -14600 |
|  2 |        123004 | 4000-1956-3401      | SAVINGS        |                  0 |
|  3 |        123005 | 4000-1956-5102      | SAVINGS        |              -6500 |
|  4 |        123006 | 4000-1956-5698      | SAVINGS        |              -9000 |
|  5 |        123006 | 5800-1700-9800-7755 | Credit Card    |              -9000 |
|  6 |        123007 | 9000-1700-7777-4321 | Credit Card    |             -15500 |
+----+---------------+---------------------+----------------+--------------------+

# Question 8:
# a) Display records of All Accounts , their Account_types, the transaction amount.
# b) Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)

In [ ]:
#a) Display records of All Accounts , their Account_types, the transaction amount.
query="""
SELECT
    a.account_number,
    a.account_type,
    t.transaction_amount
FROM BANK_Account_Details a
JOIN BANK_Account_Transaction t ON a.account_number = t.account_number;
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------------+--------------------+----------------------+
|    | Account_Number      | Account_type       |   Transaction_amount |
|----+---------------------+--------------------+----------------------|
|  0 | 4000-1956-3456      | SAVINGS            |                -2000 |
|  1 | 4000-1956-2001      | SAVINGS            |                -6000 |
|  2 | 4000-1956-2001      | SAVINGS            |                -4000 |
|  3 | 4000-1956-2001      | SAVINGS            |                -3000 |
|  4 | 4000-1956-2001      | SAVINGS            |                -1600 |
|  5 | 4000-1956-2001      | SAVINGS            |                23000 |
|  6 | 5000-1700-6091      | RECURRING DEPOSITS |                40000 |
|  7 | 4000-1956-3401      | SAVINGS            |                 8000 |
|  8 | 4000-1956-5102      | SAVINGS            |                -6500 |
|  9 | 4000-1956-5698      | SAVINGS            |                -9000 |
| 10 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 |
| 11 | 9000-1700-7777-4321 | Credit Card        |                -8000 |
| 12 | 9000-1700-7777-4321 | Credit Card        |                -5000 |
| 13 | 9000-1700-7777-4321 | Credit Card        |                -2500 |
| 14 | 5800-1700-9800-7755 | Credit Card        |                -9000 |
| 15 | 5890-1970-7706-8912 | Add-on Credit Card |               -11000 |
+----+---------------------+--------------------+----------------------+

In [ ]:
# b)Along with first step, Display other columns with corresponding linking account number, account types (15 Rows).
query = """
SELECT
    a.account_number,
    a.account_type,
    t.transaction_amount,
    r.linking_account_number,
    r.account_type AS linking_account_type
FROM BANK_Account_Details a
JOIN BANK_Account_Transaction t ON a.account_number = t.account_number
LEFT JOIN BANK_Account_Relationship_Details r ON a.account_number = r.linking_account_number;
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------------+--------------------+----------------------+--------------------------+------------------------+
|    | Account_Number      | Account_type       |   Transaction_amount | linking_Account_Number   | linking_account_type   |
|----+---------------------+--------------------+----------------------+--------------------------+------------------------|
|  0 | 4000-1956-3456      | SAVINGS            |                -2000 | 4000-1956-3456           | RECURRING DEPOSITS     |
|  1 | 4000-1956-2001      | SAVINGS            |                -6000 | 4000-1956-2001           | RECURRING DEPOSITS     |
|  2 | 4000-1956-2001      | SAVINGS            |                -4000 | 4000-1956-2001           | RECURRING DEPOSITS     |
|  3 | 4000-1956-2001      | SAVINGS            |                -3000 | 4000-1956-2001           | RECURRING DEPOSITS     |
|  4 | 4000-1956-2001      | SAVINGS            |                -1600 | 4000-1956-2001           | RECURRING DEPOSITS     |
|  5 | 4000-1956-2001      | SAVINGS            |                23000 | 4000-1956-2001           | RECURRING DEPOSITS     |
|  6 | 5000-1700-6091      | RECURRING DEPOSITS |                40000 |                          |                        |
|  7 | 4000-1956-3401      | SAVINGS            |                 8000 |                          |                        |
|  8 | 4000-1956-5102      | SAVINGS            |                -6500 |                          |                        |
|  9 | 4000-1956-5698      | SAVINGS            |                -9000 | 4000-1956-5698           | Credit Card            |
| 10 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 |                          |                        |
| 11 | 9000-1700-7777-4321 | Credit Card        |                -8000 | 9000-1700-7777-4321      | Add-on Credit Card     |
| 12 | 9000-1700-7777-4321 | Credit Card        |                -5000 | 9000-1700-7777-4321      | Add-on Credit Card     |
| 13 | 9000-1700-7777-4321 | Credit Card        |                -2500 | 9000-1700-7777-4321      | Add-on Credit Card     |
| 14 | 5800-1700-9800-7755 | Credit Card        |                -9000 | 5800-1700-9800-7755      | Add-on Credit Card     |
| 15 | 5890-1970-7706-8912 | Add-on Credit Card |               -11000 |                          |                        |
+----+---------------------+--------------------+----------------------+--------------------------+------------------------+

#Question 9
# a) Display records of All Accounts , their Account_types, the transaction amount.
# b) Along with first step, Display other columns with corresponding linking account number, account types
# c) After retrieving all records of accounts and their linked accounts, display the   transaction amount of accounts appeared  in another column.(26 Rows)

In [ ]:
#a) Display records of All Accounts ,their Account_types, the transaction amount.
query="""
SELECT
    a.account_number,
    a.account_type,
    t.transaction_amount
FROM BANK_Account_Details a
JOIN BANK_Account_Transaction t ON a.account_number = t.account_number;
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------------+--------------------+----------------------+
|    | Account_Number      | Account_type       |   Transaction_amount |
|----+---------------------+--------------------+----------------------|
|  0 | 4000-1956-3456      | SAVINGS            |                -2000 |
|  1 | 4000-1956-2001      | SAVINGS            |                -6000 |
|  2 | 4000-1956-2001      | SAVINGS            |                -4000 |
|  3 | 4000-1956-2001      | SAVINGS            |                -3000 |
|  4 | 4000-1956-2001      | SAVINGS            |                -1600 |
|  5 | 4000-1956-2001      | SAVINGS            |                23000 |
|  6 | 5000-1700-6091      | RECURRING DEPOSITS |                40000 |
|  7 | 4000-1956-3401      | SAVINGS            |                 8000 |
|  8 | 4000-1956-5102      | SAVINGS            |                -6500 |
|  9 | 4000-1956-5698      | SAVINGS            |                -9000 |
| 10 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 |
| 11 | 9000-1700-7777-4321 | Credit Card        |                -8000 |
| 12 | 9000-1700-7777-4321 | Credit Card        |                -5000 |
| 13 | 9000-1700-7777-4321 | Credit Card        |                -2500 |
| 14 | 5800-1700-9800-7755 | Credit Card        |                -9000 |
| 15 | 5890-1970-7706-8912 | Add-on Credit Card |               -11000 |
+----+---------------------+--------------------+----------------------+

In [ ]:
# b)Along with first step, Display other columns with corresponding linking account number, account types .

query = """
SELECT
    a.account_number,
    a.account_type,
    t.transaction_amount,
    r.linking_account_number,
    r.account_type AS linking_account_type
FROM BANK_Account_Details a
JOIN BANK_Account_Transaction t ON a.account_number = t.account_number
LEFT JOIN BANK_Account_Relationship_Details r ON a.account_number = r.linking_account_number;
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------------+--------------------+----------------------+--------------------------+------------------------+
|    | Account_Number      | Account_type       |   Transaction_amount | linking_Account_Number   | linking_account_type   |
|----+---------------------+--------------------+----------------------+--------------------------+------------------------|
|  0 | 4000-1956-3456      | SAVINGS            |                -2000 | 4000-1956-3456           | RECURRING DEPOSITS     |
|  1 | 4000-1956-2001      | SAVINGS            |                -6000 | 4000-1956-2001           | RECURRING DEPOSITS     |
|  2 | 4000-1956-2001      | SAVINGS            |                -4000 | 4000-1956-2001           | RECURRING DEPOSITS     |
|  3 | 4000-1956-2001      | SAVINGS            |                -3000 | 4000-1956-2001           | RECURRING DEPOSITS     |
|  4 | 4000-1956-2001      | SAVINGS            |                -1600 | 4000-1956-2001           | RECURRING DEPOSITS     |
|  5 | 4000-1956-2001      | SAVINGS            |                23000 | 4000-1956-2001           | RECURRING DEPOSITS     |
|  6 | 5000-1700-6091      | RECURRING DEPOSITS |                40000 |                          |                        |
|  7 | 4000-1956-3401      | SAVINGS            |                 8000 |                          |                        |
|  8 | 4000-1956-5102      | SAVINGS            |                -6500 |                          |                        |
|  9 | 4000-1956-5698      | SAVINGS            |                -9000 | 4000-1956-5698           | Credit Card            |
| 10 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 |                          |                        |
| 11 | 9000-1700-7777-4321 | Credit Card        |                -8000 | 9000-1700-7777-4321      | Add-on Credit Card     |
| 12 | 9000-1700-7777-4321 | Credit Card        |                -5000 | 9000-1700-7777-4321      | Add-on Credit Card     |
| 13 | 9000-1700-7777-4321 | Credit Card        |                -2500 | 9000-1700-7777-4321      | Add-on Credit Card     |
| 14 | 5800-1700-9800-7755 | Credit Card        |                -9000 | 5800-1700-9800-7755      | Add-on Credit Card     |
| 15 | 5890-1970-7706-8912 | Add-on Credit Card |               -11000 |                          |                        |
+----+---------------------+--------------------+----------------------+--------------------------+------------------------+

In [ ]:
#c) After retrieving all records of accounts and their linked accounts, display the transaction amount of accounts appeared in another column.
query = """
SELECT
    a.account_number,
    a.account_type,
    t.transaction_amount,
    r.linking_account_number,
    r.account_type AS linking_account_type,
    SUM(CASE WHEN t.account_number = a.account_number THEN t.transaction_amount ELSE 0 END) AS account_transaction_amount
FROM BANK_Account_Details a
JOIN BANK_Account_Transaction t ON a.account_number = t.account_number
LEFT JOIN BANK_Account_Relationship_Details r ON a.account_number = r.linking_account_number
GROUP BY a.account_number, a.account_type, t.transaction_amount, r.linking_account_number
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------------+--------------------+----------------------+--------------------------+------------------------+------------------------------+
|    | Account_Number      | Account_type       |   Transaction_amount | linking_Account_Number   | linking_account_type   |   account_transaction_amount |
|----+---------------------+--------------------+----------------------+--------------------------+------------------------+------------------------------|
|  0 | 4000-1956-2001      | SAVINGS            |                -6000 | 4000-1956-2001           | RECURRING DEPOSITS     |                        -6000 |
|  1 | 4000-1956-2001      | SAVINGS            |                -4000 | 4000-1956-2001           | RECURRING DEPOSITS     |                        -4000 |
|  2 | 4000-1956-2001      | SAVINGS            |                -3000 | 4000-1956-2001           | RECURRING DEPOSITS     |                        -3000 |
|  3 | 4000-1956-2001      | SAVINGS            |                -1600 | 4000-1956-2001           | RECURRING DEPOSITS     |                        -1600 |
|  4 | 4000-1956-2001      | SAVINGS            |                23000 | 4000-1956-2001           | RECURRING DEPOSITS     |                        23000 |
|  5 | 4000-1956-3401      | SAVINGS            |                 8000 |                          |                        |                         8000 |
|  6 | 4000-1956-3456      | SAVINGS            |                -2000 | 4000-1956-3456           | RECURRING DEPOSITS     |                        -2000 |
|  7 | 4000-1956-5102      | SAVINGS            |                -6500 |                          |                        |                        -6500 |
|  8 | 4000-1956-5698      | SAVINGS            |                -9000 | 4000-1956-5698           | Credit Card            |                        -9000 |
|  9 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 |                          |                        |                        50000 |
| 10 | 5000-1700-6091      | RECURRING DEPOSITS |                40000 |                          |                        |                        40000 |
| 11 | 5800-1700-9800-7755 | Credit Card        |                -9000 | 5800-1700-9800-7755      | Add-on Credit Card     |                        -9000 |
| 12 | 5890-1970-7706-8912 | Add-on Credit Card |               -11000 |                          |                        |                       -11000 |
| 13 | 9000-1700-7777-4321 | Credit Card        |                -8000 | 9000-1700-7777-4321      | Add-on Credit Card     |                        -8000 |
| 14 | 9000-1700-7777-4321 | Credit Card        |                -5000 | 9000-1700-7777-4321      | Add-on Credit Card     |                        -5000 |
| 15 | 9000-1700-7777-4321 | Credit Card        |                -2500 | 9000-1700-7777-4321      | Add-on Credit Card     |                        -2500 |
+----+---------------------+--------------------+----------------------+--------------------------+------------------------+------------------------------+

# Question 10:
# 10) Display all saving account holders have “Add-on Credit Cards" and “Credit cards" (3 Rows)

In [ ]:
# 10) Display all saving account holders have “Add-on Credit Cards" and “Credit cards" (3 Rows).
query = """
SELECT
    c.customer_id,
    c.customer_name
FROM BANK_CUSTOMER c
JOIN BANK_Account_Details a ON c.customer_id = a.customer_id
WHERE a.account_type IN ('SAVINGS', 'Credit Card')
GROUP BY c.customer_id, c.customer_name
HAVING COUNT(DISTINCT a.account_type) = 2;
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------+-----------------+
|    |   customer_id | customer_name   |
|----+---------------+-----------------|
|  0 |        123006 | Noah            |
|  1 |        123007 | Charlie         |
+----+---------------+-----------------+

# Question 11:
# 11)  Display  records of “SAVINGS” account linked with “Credit cards" account_type and its credit

In [ ]:

# 11)  Display  records of “SAVINGS” account linked with “c
redit cards" account_type and its credit
# aggregate sum of transaction amount. (1 Row)
# Ref: Check linking relationship in bank_transaction_relationship_details.
# Check transaction_amount in bank_account_transaction.
query = """
SELECT
    a.account_number,
    SUM(t.transaction_amount) AS total_transaction_amount
FROM BANK_Account_Details a
JOIN BANK_Account_Transaction t ON a.account_number = t.account_number
JOIN BANK_Account_Relationship_Details r ON a.account_number = r.linking_account_number
WHERE a.account_type = 'SAVINGS' AND r.account_type = 'Credit Card'
GROUP BY a.account_number;
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+------------------+----------------------------+
|    | Account_Number   |   total_transaction_amount |
|----+------------------+----------------------------|
|  0 | 4000-1956-5698   |                      -9000 |
+----+------------------+----------------------------+